.ssf {
    font-family: sans-serif;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

input {
    border: none;
    width: 20px;
    text-align: center;
    outline: none;
    text-transform: uppercase;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.pat20 {
    margin-top: 20px;
}

.centering {
    align-items: center;
    justify-content: center;
}

.cell {
    width: 30px;
    height: 30px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    transition: 0.5s background-color ease;
}

.scroll {
    overflow: scroll;
}

.h50 {
    height: 50%;
} 

.flexgrow1 {
    flex-grow: 1;
}