body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.verticalHalf {
  width: 100%;
  height: 50%;
}

.highlight {
  background-color: cyan;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.centered {
  justify-content: center;
  align-items: center;
}

.bbb {
  border-bottom: 1px solid black;
}

button {
  margin: 0 5px 0;
}

#controls {
  width: 100%;
  height: 50px;
}

.scrollable {
  overflow: scroll;
}

.flex-grow {
  flex-grow: 1;
}

.padded {
  padding: 5px;
}

.valueBox {
  height: calc(100% - 10px);
  min-width: calc(50% - 10px);
}